body {
    font-family: 'Verdana', sans-serif;
    background: linear-gradient(rgb(0,0,0,0.7), #3551b5), url("/POW/static/imgs/fonfor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

h2 {
    align-items: center;
    background-position: center;
    color: #fff;
    justify-content: center;
    text-align: center;
    animation: slideDown 1s ease forwards;
    animation-delay: 1s;
}

.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    align-items: center;
    flex-direction: column; /* Alinea los elementos del formulario verticalmente */
    padding: 20px; /* Añadir un poco de relleno */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    background: rgb(27, 33, 34, 0.80);
    width: 100%;
    max-width: 640px;
    margin: 50px auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column; /* Alinea los campos del formulario en columna */
    color: #fff;
    padding: 30px;
}

.input-group {
    margin-bottom: 20px; /* Reduce el margen entre los campos */
    position: relative;
}

input, textarea, label {
    width: 100%;
    padding: 15px; /* Mayor espacio para que los campos sean más visibles */
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    border-radius: 4px; /* Bordes redondeados */
}

textarea {
    resize: vertical; /* Permite que el textarea se redimensione verticalmente */
}

.send-btn, input[type="reset"] {
    width: 100%;
    padding: 25px;
    background-color: #4c84af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio adicional antes de los botones */
}

.send-btn:hover, input[type="reset"]:hover {
    opacity: 0.8; /* Efecto hover */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
